{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} FR13NDS {% endblock title %}
{% block content %}

<style>
    body {
        background-color: #111;
        color: #fff;
    }
    h3, p{
        padding-top: 20px;
        color: #fff;
    }
    p {
       padding-top: 0px;
    }
</style>

    <center>
        <h3>Password change successful</h3>
        <p>Your password was changed</p>
        <br>
        <a href="{% url 'home' %}" class="btn btn-light">Home Page</a>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </center>

{% endblock content %}
