{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<style>
    body {
        background-color: #504747;
        color: #fff;
    }
    h2 {
        text-align: center;
        padding: 10px;

    }
    .btn-success {
        width: 100px;
    }

    form input {
        width: 100%;
    }
</style>

{% if user.is_authenticated %}
    <center>
        <a href="{% url 'home' %}" class="btn btn-danger">Главная</a>
    </center>

{% else %} <br>
    <h2>Регистратсия</h2>
    <form method="post">{% csrf_token %}
            {{ form|crispy }}
            <br>
            <button class="btn btn-success" type="submit">Отправить</button>
            <br><br><br>
    </form>

{% endif %}
{% endblock content %}