{% extends 'base.html' %}
{% load static %}

{% block content %}


<style>
    .bg-myphoto-welcome {
        width: 100%;
        height: 150vh;
        background-image: url("{% static 'main/img/3.jpg' %}");
        background-size: cover;
        color: #504747;
    }

    .main-img-text {
        color: #fff;
        padding-left: 70vh;
    }

    @media (max-width: 738px) {
        .main-img-text {
            display: none;
        }
    }
</style>

<div class="container-fluid myphoto-section bg-myphoto-welcome">
    <div class="container">
        <div class="jumbotron">
            <h1 class="main-img-text">FR13NDS OFFICIAL</h1>
            <p class="main-img-text" style="padding-left: 70.3vh;">Новый хаккеры и программисты группы</p>
            {% if user.is_authenticated %}
            {% else %}

            {% endif %}
        </div>
    </div>
</div>
    {% if user.is_superuser %}
    {% endif %}

{% endblock content %}