{% extends 'base.html' %}
{% load static %}

{% block content %}

    <style>
        body {
            color: #fff;
        }

    </style>

    <center>
        <form action="" method="post">{% csrf_token %}
            <p><b style="color: yellow;">"{{ article.title }}" </b>shu xodimni o'chirishni istaysizmi?</p> <br><br>
            <button class="btn btn-outline-primary" type="submit">Да</button>
            <a class="btn btn-outline-primary a" href="{% url 'article_detail' object.pk %}">Нет</a>            
        </form>
    </center>

{% endblock content %}