{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div style="padding-top: 90px;"></div>

    <style>
        body {
            color: #fff;
        }

        p, button, a {
            float: left;
        }

        .a {
            padding-left: 10px;
        }

    </style>

    <center><br><br>
        <h1>Postni o'chirish</h1> <br><br>
        <form action="" method="post">{% csrf_token %}
            <p>"{{ article.name }}" shu xodimni o'chirishni istaysizmi?</p> <br><br>
            <button class="btn btn-outline-primary" type="submit">Да</button>
            <a class="btn btn-outline-primary a" href="{% url 'article_detail' object.pk %}">Нет</a>            
        </form>
    </center>

{% endblock content %}